.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f8f9fa;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: #fff;
}

.board {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #333;
  background-color:hsl(160, 100%, 75%);
}

.row {
  display: flex;
  flex: 33%;
  flex-direction: row;
}

.square {
  display: grid;
  justify-content: center;
  align-items: center;
  flex: 33%;
  height: 100%;
  border: 1px solid #333;
  background-color: hsl(160, 100%, 75%);
  font-size: 2rem;
  cursor: pointer;
}